<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/7176.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Brand
    </a>
</nav>
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Hello, there!</h1>
    <p class="lead">This is a simple web page, it perform very basic process of uploading images.</p>
    <hr class="my-4">
    <p>It does not perform everything, but the basic.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>    
</div>
        <form action="upload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
                <input type="file" class="imgupload" style="display:none" name="image_load"/> 
                <img class="OpenImgUpload" src="https://img.icons8.com/cotton/2x/upload.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <input type="submit" value="Upload Image" name="submit" class="btn btn-primary">
                </div>
              
            </div>
        </div>
    </div>
    
</div>
</form>
  
<br>
{% for imag in img%}
<img src="{{imag.image.url}}" alt="not found" class="img-thumbnail">

<br>
{% endfor %}

<script>
$('.OpenImgUpload').click(function(){ $('.imgupload').trigger('click'); });
</script>
</body>
</html>